Machine Learning/Practicals/22-07-2022/loan.csv
Machine Learning/Practicals/22-07-2022/train.csv

Machine Learning/Practical_New/Practical3-FeatureEngineering/loan.csv
Machine Learning/Practical_New/Practical3-FeatureEngineering/train.csv